In [21]:
from google.colab import files
import zipfile
import sqlite3
import pandas as pd
import os

# Upload the zip file containing your SQLite database
uploaded = files.upload()

Saving Approach to Complex SQLquery Building in Kaggle (3).zip to Approach to Complex SQLquery Building in Kaggle (3) (1).zip

In [22]:
# Get the uploaded zip filename
zip_filename = list(uploaded.keys())[0]
print(f"Uploaded zip file: {zip_filename}")

# Create a directory to extract files to
extract_dir = "/content/extracted"
os.makedirs(extract_dir, exist_ok=True)

# Extract the zip file
with zipfile.ZipFile(zip_filename, 'r') as zip_ref:
    zip_ref.extractall(extract_dir)
    print(f"Extracted files: {zip_ref.namelist()}")

# List extracted files
extracted_files = os.listdir(extract_dir)
print("\nExtracted files:")
for file in extracted_files:
    print(f"- {file}")

Uploaded zip file: Approach to Complex SQLquery Building in Kaggle (3) (1).zip
Extracted files: ['database.sqlite']

Extracted files:
- database.sqlite

In [23]:
# Find the SQLite database file (look for .sqlite, .db, or .sqlite3 extensions)
db_files = [f for f in extracted_files if f.lower().endswith(('.sqlite', '.db', '.sqlite3'))]

if not db_files:
    # If no obvious database file, look for any file that might be a database
    all_files = os.listdir(extract_dir)
    print("\nNo obvious database file found. All extracted files:")
    for file in all_files:
        print(f"- {file}")

    # Try to identify a database file by content
    for file in all_files:
        file_path = os.path.join(extract_dir, file)
        if os.path.isfile(file_path):
            try:
                # Attempt to open as SQLite database
                test_conn = sqlite3.connect(file_path)
                cursor = test_conn.cursor()
                cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
                tables = cursor.fetchall()
                if tables:
                    db_files = [file]
                    print(f"\nFound potential database file: {file}")
                    print(f"Contains {len(tables)} tables")
                    break
            except sqlite3.DatabaseError:
                pass

if not db_files:
    raise FileNotFoundError("No SQLite database file found in the zip archive")

# Connect to the first database file found
db_filename = os.path.join(extract_dir, db_files[0])
print(f"\nUsing database file: {db_filename}")

# Connect to the database
conn = sqlite3.connect(db_filename)

Using database file: /content/extracted/database.sqlite

In [24]:
# Get list of tables
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

print("\nTables in the database:")
for table in tables:
    table_name = table[0]
    print(f"\nTable: {table_name}")

    # Get column information
    cursor.execute(f"PRAGMA table_info({table_name})")
    columns = cursor.fetchall()

    print("Columns:")
    for col in columns:
        print(f"  - {col[1]} ({col[2]})")

Tables in the database:

Table: Player
Columns:
  - Player_Id (INTEGER)
  - Player_Name (varchar(400))
  - DOB (datetime)
  - Batting_hand (INTEGER)
  - Bowling_skill (INTEGER)
  - Country_Name (INTEGER)

Table: Extra_Runs
Columns:
  - Match_Id (INTEGER)
  - Over_Id (INTEGER)
  - Ball_Id (INTEGER)
  - Extra_Type_Id (INTEGER)
  - Extra_Runs (INTEGER)
  - Innings_No (INTEGER)

Table: Batsman_Scored
Columns:
  - Match_Id (INTEGER)
  - Over_Id (INTEGER)
  - Ball_Id (INTEGER)
  - Runs_Scored (INTEGER)
  - Innings_No (INTEGER)

Table: Batting_Style
Columns:
  - Batting_Id (INTEGER)
  - Batting_hand (varchar(200))

Table: Bowling_Style
Columns:
  - Bowling_Id (INTEGER)
  - Bowling_skill (varchar(200))

Table: Country
Columns:
  - Country_Id (INTEGER)
  - Country_Name (varchar(200))

Table: Season
Columns:
  - Season_Id (INTEGER)
  - Man_of_the_Series (INTEGER)
  - Orange_Cap (INTEGER)
  - Purple_Cap (INTEGER)
  - Season_Year (INTEGER)

Table: City
Columns:
  - City_Id (INTEGER)
  - City_Name (varchar(200))
  - Country_id (INTEGER)

Table: Outcome
Columns:
  - Outcome_Id (INTEGER)
  - Outcome_Type (varchar(200))

Table: Win_By
Columns:
  - Win_Id (INTEGER)
  - Win_Type (varchar(200))

Table: Wicket_Taken
Columns:
  - Match_Id (INTEGER)
  - Over_Id (INTEGER)
  - Ball_Id (INTEGER)
  - Player_Out (INTEGER)
  - Kind_Out (INTEGER)
  - Fielders (INTEGER)
  - Innings_No (INTEGER)

Table: Venue
Columns:
  - Venue_Id (INTEGER)
  - Venue_Name (varchar(450))
  - City_Id (INTEGER)

Table: Extra_Type
Columns:
  - Extra_Id (INTEGER)
  - Extra_Name (varchar(150))

Table: Out_Type
Columns:
  - Out_Id (INTEGER)
  - Out_Name (varchar(250))

Table: Toss_Decision
Columns:
  - Toss_Id (INTEGER)
  - Toss_Name (varchar(50))

Table: Umpire
Columns:
  - Umpire_Id (INTEGER)
  - Umpire_Name (varchar(350))
  - Umpire_Country (INTEGER)

Table: Team
Columns:
  - Team_Id (INTEGER)
  - Team_Name (varchar(450))

Table: Ball_by_Ball
Columns:
  - Match_Id (INTEGER)
  - Over_Id (INTEGER)
  - Ball_Id (INTEGER)
  - Innings_No (INTEGER)
  - Team_Batting (INTEGER)
  - Team_Bowling (INTEGER)
  - Striker_Batting_Position (INTEGER)
  - Striker (INTEGER)
  - Non_Striker (INTEGER)
  - Bowler (INTEGER)

Table: sysdiagrams
Columns:
  - name (nvarchar(128))
  - principal_id (INTEGER)
  - diagram_id (INTEGER)
  - version (INTEGER)
  - definition (BLOB)

Table: sqlite_sequence
Columns:
  - name ()
  - seq ()

Table: Match
Columns:
  - Match_Id (INTEGER)
  - Team_1 (INTEGER)
  - Team_2 (INTEGER)
  - Match_Date (datetime)
  - Season_Id (INTEGER)
  - Venue_Id (INTEGER)
  - Toss_Winner (INTEGER)
  - Toss_Decide (INTEGER)
  - Win_Type (INTEGER)
  - Win_Margin (INTEGER)
  - Outcome_type (INTEGER)
  - Match_Winner (INTEGER)
  - Man_of_the_Match (INTEGER)

Table: Rolee
Columns:
  - Role_Id (INTEGER)
  - Role_Desc (varchar(150))

Table: Player_Match
Columns:
  - Match_Id (INTEGER)
  - Player_Id (INTEGER)
  - Role_Id (INTEGER)
  - Team_Id (INTEGER)

In [31]:
config = {
    'player_table': 'Player',               # Actual players table name
    'ball_table': 'Ball_by_Ball',           # Actual ball-by-ball table name
    'player_id_col': 'Player_Id',           # Player ID column name
    'player_name_col': 'Player_Name',       # Player name column name
    'runs_col': 'Runs_Scored',              # Runs column name
    'striker_col': 'Striker',               # Batsman/striker column name
    'bowler_col': 'Bowler',                 # Bowler column name
    'wicket_col': 'Out_Type',               # Wicket column name
    'match_id_col': 'Match_Id'              # Match ID column name
}

# Save configuration for queries
player_table = config['player_table']
ball_table = config['ball_table']
player_id = config['player_id_col']
player_name = config['player_name_col']
runs_col = config['runs_col']
striker_col = config['striker_col']
bowler_col = config['bowler_col']
wicket_col = config['wicket_col']
match_id = config['match_id_col']

In [39]:
def run_query(conn, query, title):
    try:
        result = pd.read_sql(query, conn)
        print(f"\n{title}")
        print(result.head(10))
        return True
    except Exception as e:
        print(f"\nError in {title}: {str(e)}")
        return False

In [40]:
# Query 1: Player table sample
query1 = f"SELECT * FROM {player_table} LIMIT 5"
run_query(conn, query1, "Query 1: Player Table Sample")

Query 1: Player Table Sample
   Player_Id      Player_Name                  DOB  Batting_hand  \
0          1       SC Ganguly  1972-07-08 00:00:00             1
1          2      BB McCullum  1981-09-27 00:00:00             2
2          3       RT Ponting  1974-12-19 00:00:00             2
3          4        DJ Hussey  1977-07-15 00:00:00             2
4          5  Mohammad Hafeez  1980-10-17 00:00:00             2

   Bowling_skill  Country_Name
0              1             1
1              1             4
2              1             5
3              2             5
4              2             6

True

In [41]:
# Query 2: Batsman vs Runs
query2 = f"""
SELECT
    p.{player_id} AS player_id,
    p.{player_name} AS player_name,
    SUM(b.{runs_col}) AS total_runs
FROM {ball_table} b
JOIN {player_table} p ON b.{striker_col} = p.{player_id}
GROUP BY p.{player_id}, p.{player_name}
ORDER BY total_runs DESC
LIMIT 10
"""
run_query(conn, query2, "Query 2: Top Batsmen by Runs")

Error in Query 2: Top Batsmen by Runs: Execution failed on sql '
SELECT
    p.Player_Id AS player_id,
    p.Player_Name AS player_name,
    SUM(b.Runs_Scored) AS total_runs
FROM Ball_by_Ball b
JOIN Player p ON b.Striker = p.Player_Id
GROUP BY p.Player_Id, p.Player_Name
ORDER BY total_runs DESC
LIMIT 10
': no such column: b.Runs_Scored

False

In [42]:
# Query 3: Fifties and Hundreds
query3 = f"""
SELECT
    p.{player_id},
    p.{player_name},
    SUM(CASE WHEN inning_runs >= 50 AND inning_runs < 100 THEN 1 ELSE 0 END) AS fifties,
    SUM(CASE WHEN inning_runs >= 100 THEN 1 ELSE 0 END) AS hundreds
FROM (
    SELECT
        {striker_col} AS player_id,
        {match_id},
        SUM({runs_col}) AS inning_runs
    FROM {ball_table}
    GROUP BY {striker_col}, {match_id}
) innings
JOIN {player_table} p ON innings.player_id = p.{player_id}
GROUP BY p.{player_id}, p.{player_name}
ORDER BY hundreds DESC, fifties DESC
LIMIT 10
"""
run_query(conn, query3, "Query 3: Fifties and Hundreds")

Error in Query 3: Fifties and Hundreds: Execution failed on sql '
SELECT
    p.Player_Id,
    p.Player_Name,
    SUM(CASE WHEN inning_runs >= 50 AND inning_runs < 100 THEN 1 ELSE 0 END) AS fifties,
    SUM(CASE WHEN inning_runs >= 100 THEN 1 ELSE 0 END) AS hundreds
FROM (
    SELECT
        Striker AS player_id,
        Match_Id,
        SUM(Runs_Scored) AS inning_runs
    FROM Ball_by_Ball
    GROUP BY Striker, Match_Id
) innings
JOIN Player p ON innings.player_id = p.Player_Id
GROUP BY p.Player_Id, p.Player_Name
ORDER BY hundreds DESC, fifties DESC
LIMIT 10
': no such column: Runs_Scored

False

In [43]:
# Query 4: Best Bowling Figures
query4 = f"""
SELECT
    p.{player_id},
    p.{player_name},
    MAX(wickets) AS best_wickets,
    MIN(runs) AS best_runs
FROM (
    SELECT
        {bowler_col} AS player_id,
        {match_id},
        COUNT(wt.Kind_Out) AS wickets,  -- Assuming Kind_Out indicates a wicket
        SUM(bs.Runs_Scored) AS runs
    FROM {ball_table} bb
    LEFT JOIN Wicket_Taken wt ON bb.Match_Id = wt.Match_Id AND bb.Over_Id = wt.Over_Id AND bb.Ball_Id = wt.Ball_Id AND bb.Innings_No = wt.Innings_No
    LEFT JOIN Batsman_Scored bs ON bb.Match_Id = bs.Match_Id AND bb.Over_Id = bs.Over_Id AND bb.Ball_Id = bs.Ball_Id AND bb.Innings_No = bs.Innings_No
    GROUP BY {bowler_col}, {match_id}
) innings
JOIN {player_table} p ON innings.player_id = p.{player_id}
GROUP BY p.{player_id}, p.{player_name}
ORDER BY best_wickets DESC, best_runs ASC
LIMIT 10
"""
run_query(conn, query4, "Query 4: Best Bowling Figures")

Error in Query 4: Best Bowling Figures: Execution failed on sql '
SELECT
    p.Player_Id,
    p.Player_Name,
    MAX(wickets) AS best_wickets,
    MIN(runs) AS best_runs
FROM (
    SELECT
        Bowler AS player_id,
        Match_Id,
        COUNT(wt.Kind_Out) AS wickets,  -- Assuming Kind_Out indicates a wicket
        SUM(bs.Runs_Scored) AS runs
    FROM Ball_by_Ball bb
    LEFT JOIN Wicket_Taken wt ON bb.Match_Id = wt.Match_Id AND bb.Over_Id = wt.Over_Id AND bb.Ball_Id = wt.Ball_Id AND bb.Innings_No = wt.Innings_No
    LEFT JOIN Batsman_Scored bs ON bb.Match_Id = bs.Match_Id AND bb.Over_Id = bs.Over_Id AND bb.Ball_Id = bs.Ball_Id AND bb.Innings_No = bs.Innings_No
    GROUP BY Bowler, Match_Id
) innings
JOIN Player p ON innings.player_id = p.Player_Id
GROUP BY p.Player_Id, p.Player_Name
ORDER BY best_wickets DESC, best_runs ASC
LIMIT 10
': ambiguous column name: Match_Id

False

In [45]:
# Query 5: Comprehensive Career Metrics
query5 = f"""
WITH BattingStats AS (
    SELECT
        {striker_col} AS player_id,
        COUNT(DISTINCT {match_id}) AS matches,
        SUM({runs_col}) AS total_runs,
        ROUND(CAST(SUM({runs_col}) AS REAL) / NULLIF(COUNT(DISTINCT {match_id}), 0), 2) AS batting_avg,
        MAX({runs_col}) AS highest_score,
        SUM(CASE WHEN inning_runs >= 50 AND inning_runs < 100 THEN 1 ELSE 0 END) AS fifties,
        SUM(CASE WHEN inning_runs >= 100 THEN 1 ELSE 0 END) AS hundreds
    FROM (
        SELECT
            {striker_col},
            {match_id},
            SUM({runs_col}) AS inning_runs
        FROM {ball_table}
        GROUP BY {striker_col}, {match_id}
    ) innings
    GROUP BY {striker_col}
),
BowlingStats AS (
    SELECT
        {bowler_col} AS player_id,
        SUM(CASE WHEN wt.Kind_Out IS NOT NULL THEN 1 ELSE 0 END) AS total_wickets,
        ROUND(CAST(SUM(bs.Runs_Scored) AS REAL) / NULLIF(SUM(CASE WHEN wt.Kind_Out IS NOT NULL THEN 1 ELSE 0 END), 0), 2) AS bowling_avg,
        MAX(wickets) AS best_wickets,
        MIN(runs) AS best_runs
    FROM (
        SELECT
            bb.{bowler_col},
            bb.{match_id},
            COUNT(wt.Kind_Out) AS wickets,
            SUM(bs.Runs_Scored) AS runs
        FROM {ball_table} bb
        LEFT JOIN Wicket_Taken wt ON bb.Match_Id = wt.Match_Id AND bb.Over_Id = wt.Over_Id AND bb.Ball_Id = wt.Ball_Id AND bb.Innings_No = bb.Innings_No
        LEFT JOIN Batsman_Scored bs ON bb.Match_Id = bs.Match_Id AND bb.Over_Id = bs.Over_Id AND bb.Ball_Id = bs.Ball_Id AND bb.Innings_No = bb.Innings_No
        GROUP BY bb.{bowler_col}, bb.{match_id}
    ) innings
    GROUP BY player_id
)
SELECT
    p.{player_id},
    p.{player_name},
    COALESCE(b.matches, 0) AS matches,
    COALESCE(b.total_runs, 0) AS total_runs,
    COALESCE(b.batting_avg, 0) AS batting_avg,
    COALESCE(b.highest_score, 0) AS highest_score,
    COALESCE(b.fifties, 0) AS fifties,
    COALESCE(b.hundreds, 0) AS hundreds,
    COALESCE(bw.total_wickets, 0) AS total_wickets,
    COALESCE(bw.bowling_avg, 0) AS bowling_avg,
    COALESCE(bw.best_wickets, 0) || '/' || COALESCE(bw.best_runs, 0) AS best_bowling
FROM {player_table} p
LEFT JOIN BattingStats b ON p.{player_id} = b.player_id
LEFT JOIN BowlingStats bw ON p.{player_id} = bw.player_id
ORDER BY total_runs DESC
LIMIT 10
"""
run_query(conn, query5, "Query 5: Comprehensive Career Metrics")

# Close connection
conn.close()

Error in Query 5: Comprehensive Career Metrics: Execution failed on sql '
WITH BattingStats AS (
    SELECT
        Striker AS player_id,
        COUNT(DISTINCT Match_Id) AS matches,
        SUM(Runs_Scored) AS total_runs,
        ROUND(CAST(SUM(Runs_Scored) AS REAL) / NULLIF(COUNT(DISTINCT Match_Id), 0), 2) AS batting_avg,
        MAX(Runs_Scored) AS highest_score,
        SUM(CASE WHEN inning_runs >= 50 AND inning_runs < 100 THEN 1 ELSE 0 END) AS fifties,
        SUM(CASE WHEN inning_runs >= 100 THEN 1 ELSE 0 END) AS hundreds
    FROM (
        SELECT
            Striker,
            Match_Id,
            SUM(Runs_Scored) AS inning_runs
        FROM Ball_by_Ball
        GROUP BY Striker, Match_Id
    ) innings
    GROUP BY Striker
),
BowlingStats AS (
    SELECT
        Bowler AS player_id,
        SUM(CASE WHEN wt.Kind_Out IS NOT NULL THEN 1 ELSE 0 END) AS total_wickets,
        ROUND(CAST(SUM(bs.Runs_Scored) AS REAL) / NULLIF(SUM(CASE WHEN wt.Kind_Out IS NOT NULL THEN 1 ELSE 0 END), 0), 2) AS bowling_avg,
        MAX(wickets) AS best_wickets,
        MIN(runs) AS best_runs
    FROM (
        SELECT
            bb.Bowler,
            bb.Match_Id,
            COUNT(wt.Kind_Out) AS wickets,
            SUM(bs.Runs_Scored) AS runs
        FROM Ball_by_Ball bb
        LEFT JOIN Wicket_Taken wt ON bb.Match_Id = wt.Match_Id AND bb.Over_Id = wt.Over_Id AND bb.Ball_Id = wt.Ball_Id AND bb.Innings_No = bb.Innings_No
        LEFT JOIN Batsman_Scored bs ON bb.Match_Id = bs.Match_Id AND bb.Over_Id = bs.Over_Id AND bb.Ball_Id = bs.Ball_Id AND bb.Innings_No = bb.Innings_No
        GROUP BY bb.Bowler, bb.Match_Id
    ) innings
    GROUP BY player_id
)
SELECT
    p.Player_Id,
    p.Player_Name,
    COALESCE(b.matches, 0) AS matches,
    COALESCE(b.total_runs, 0) AS total_runs,
    COALESCE(b.batting_avg, 0) AS batting_avg,
    COALESCE(b.highest_score, 0) AS highest_score,
    COALESCE(b.fifties, 0) AS fifties,
    COALESCE(b.hundreds, 0) AS hundreds,
    COALESCE(bw.total_wickets, 0) AS total_wickets,
    COALESCE(bw.bowling_avg, 0) AS bowling_avg,
    COALESCE(bw.best_wickets, 0) || '/' || COALESCE(bw.best_runs, 0) AS best_bowling
FROM Player p
LEFT JOIN BattingStats b ON p.Player_Id = b.player_id
LEFT JOIN BowlingStats bw ON p.Player_Id = bw.player_id
ORDER BY total_runs DESC
LIMIT 10
': no such column: Runs_Scored